*:focus {
  outline: none !important;
}
.loader{
  position: fixed;
  top:0;
  left:0;
  width:100%;
  height:100%;
  z-index:9999;
  background-color:$white;
}
#wrapper{
  overflow-x: hidden;
}
p {
  text-indent: 1rem;
  line-height: 1.5em;
}
img {
  max-width: 100%;
  max-height: 100%;
}
ul{
  list-style-type:none;
  &.list{
    list-style-type:disc;
  }
}
h1,
.title {
  margin: 0 0 .4em;
  font-size: 2.5rem;
  color: $color1;
  font-weight: bold;
  text-transform: uppercase;
  @include media-breakpoint-down(sm) {
    font-size: 1.75rem;
    text-align: center;
    padding: {
      top: 1.05rem;
      left: 0;
      bottom: 0.05rem;
      right: 0;
    }
  }
  @include media-breakpoint-up(md) {
    padding: {
      top: 1rem;
      left: 0;
      bottom: 0.75rem;
      right: 0;
    }
  }
}

.__dark-bg{
  @include gradient-directional($color1,$color2,10deg);
  color:$white;
  .owl-dot {
    border: 1px solid $white;
  }
  .owl-dot:hover {
    background: $white;
  }
  .owl-dot.active {
    background: $white;
    color: $white;
  }
}

.icon-arrow-left{
  @include img-retina("/images/raster/24-px-arrow-arrow-left.png","/images/raster/24-px-arrow-arrow-left@2x.png","/images/raster/24-px-arrow-arrow-left@3x.png",24px,24px);
  float:left;
  margin-right:1rem;
}
.icon-arrow-right{
  @include img-retina("/images/raster/24-px-arrow-arrow-right.png","/images/raster/24-px-arrow-arrow-right@2x.png","/images/raster/24-px-arrow-arrow-right@3x.png",24px,24px);
  float: right;
  margin-left: 1rem;
}
.icon-close{
  @include img-retina("/images/raster/24-px-interface-cross-large.png","/images/raster/24-px-interface-cross-large@2x.png","/images/raster/24-px-interface-cross-large@3x.png",24px,24px);
}
.icon-US{
  @include img-retina("/images/raster/us.png","/images/raster/us@2x.png","/images/raster/us@3x.png",28px,20px);
}
.icon-recommendations{
  @include img-retina("/images/raster/illustration-isometric-r-46-recommendations.png","/images/raster/illustration-isometric-r-46-recommendations@2x.png","/images/raster/illustration-isometric-r-46-recommendations@3x.png",400px,268px,260px,175px);
  margin-left: auto;
  margin-right: auto;
}

.modal-section{
  background-color:$gray-100;
  & .fixed-top .btn{
    font-weight:600;
  }
}

.form{
  display:flex;
  align-items: center;
  min-height: 100vh;
  max-width:600px;
  margin-left: auto;
  margin-right: auto;
  padding: 72px 0;
  & > form{
    width: 100%;
  }
}
.form__block{
  margin-bottom: 2rem;
}
.form__block__title{
  font-weight:600;
  font-size:1.2rem;
  padding-bottom:0.75rem;
}
.form__block__body{
  font-size:0.9rem;
  color:$gray-600;
  .form-group{
    margin-bottom: 0.5rem;
  }
  .form-check{
    margin-bottom: 0.3rem;
  }
}

.slider-block{
  min-height: 100vh;
  display: flex;
  flex-flow: wrap;
  position: sticky;
  top: 0;
  right: 0;
  .owl-stage-outer{
    align-self: flex-end;
  }
  .owl-dots{
    align-self: flex-start;
  }
}
.slider-block__item{
  text-align: center;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}
.slider-block__item__title{
  font-size: 1.5rem;
  font-weight:500;
  padding-bottom:1rem;
}
.slider-block__item__text{
  font-size: 1rem;
}

.dd-select{border-radius:0.25rem; border:solid 1px #ced4da; position:relative; cursor:pointer;}
.dd-desc {color:#aaa; display:block; overflow: hidden; font-weight:normal; line-height: 1.4em; }
.dd-selected{ overflow:hidden; display:block; padding:7px 10px;color:$gray-600;&:hover{color:$gray-600;}}
.dd-pointer{ width:0; height:0; position:absolute; right:10px; top:50%; margin-top:-3px;}
.dd-pointer-down{margin-top:-12px;@include img-retina("/images/raster/24-px-arrow-angle-down.png","/images/raster/24-px-arrow-angle-down@2x.png","/images/raster/24-px-arrow-angle-down@3x.png",24px,24px); }
.dd-pointer-up{@include transform-wc(rotate(180deg));}
.dd-options{ border:solid 1px #ccc; border-top:none; list-style:none; box-shadow:0px 1px 5px #ddd; display:none; position:absolute; z-index:2000; margin:0; padding:0;background:#fff; overflow:auto;}
.dd-option{ padding:7px 10px; display:block; border-bottom:solid 1px #ddd; overflow:hidden; text-decoration:none; color:#333; cursor:pointer;-webkit-transition: all 0.25s ease-in-out; -moz-transition: all 0.25s ease-in-out;-o-transition: all 0.25s ease-in-out;-ms-transition: all 0.25s ease-in-out; }
.dd-options > li:last-child > .dd-option{ border-bottom:none;}
.dd-option:hover{ background:#f3f3f3; color:#000;}
.dd-selected-description-truncated { text-overflow: ellipsis; white-space:nowrap; }
.dd-option-selected { background:#f6f6f6; }
.dd-option-image, .dd-selected-image { vertical-align:middle; float:left; margin-right:5px; max-width:64px;}
.dd-image-right { float:right; margin-right:15px; margin-left:5px;}

.owl-item {
  float: left;
}
.owl-stage-outer {
  overflow: hidden;
  padding: 15px 0;
}
.owl-nav {
  display:none;
}
.owl-dots {
  display: flex;
  width: 100%;
  justify-content: center;
  position: relative;
  z-index: 1;
  margin-top: 30px;
}
.owl-dot {
  width: 12px;
  height: 12px;
  margin: 12px 10px;
  border: 1px solid $color2;
  font-family: fontb;
  border-radius: 100%;
  color: $white;
  padding: .2em 0 0;
  font-size: 1.125em;
  background: transparent;
}
.owl-dot:hover {
  background: $color2;
}
.owl-dot.active {
  background: $color2;
  color: $color2;
}
// crutch
.btn-primary{
  @include button-variant-wc($color2,$color2);
}

.btn-secondary{
  @include button-outline-variant-wc($gray-600);
}